*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90%;
}


.itemBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
    width: 25%;
    height: 45%;
    padding: 2%;
}

.itemBox p {
    color: #3E3F43;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.itemBox a{
    text-align: center;
    color: #3E3F43;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
border:1px solid #3E3F43;
width: 10vw;
align-self: flex-end;
padding: 2.5% 0;
    border-radius: 0 10% ;
}

#shelf{
    background-color: #F9BDBD;
    border-radius: 0 10% ;
    background-image: url("../assets/shelf.png");
    background-repeat: no-repeat;
    background-position: center;
}

#desk{
    background-color: #F9BDBD;
    border-radius: 0 10% ;
    background-image: url("../assets/Table2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#radio{
    background-color: #F7DEA6;
    border-radius: 0 10% ;
    background-image: url("../assets/radio.png");
    background-repeat: no-repeat;
    background-position: center;
}

#chair{
    background-color: #F7DEA6;
    border-radius: 0 10% ;
    background-image: url("../assets/chair.png");
    background-repeat: no-repeat;
    background-position: center;
}

#bowls{
    background-color:#A8DCEC ;
    border-radius: 0 10% ;
    background-image: url("../assets/bowls.png");
    background-repeat: no-repeat;
    background-position: center;
}